@model IEnumerable<Stats2019.Models.Matches>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MatchDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Series)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamAway)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScoreTeamHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScoreTeamAway)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MatchDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Series.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arena.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamHome.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamAway)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScoreTeamHome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScoreTeamAway)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
